<!DOCTYPE html>

<html>
    <body>
        <head>
        <title>R(f)web - Get Your Chem Done</title>
        <link rel = "stylesheet" type="text/css" href="static/style.css">
        </head>
        <div id="page-background"> 
            <img src="static/che.jpg" width="100%" height="100%">
        </div>
        <div id="content">
        <form action="/receive" method="post" >
            <div id="box">
            <input type="text" name="solvent_front" placeholder="Solvent Front"><br>
            <br>
            <input type="text" name="amino_acid" placeholder="Amino Acid">
            <br /> <br>
            <input type="submit">
        </form> </div>
    </body>
</html>