<!DOCTYPE html>
<html>
    <head>
        <title>R(f)</title>
        <style>
            html, body {height:100%; margin:0; padding:0;}
        </style>
        <link rel = "stylesheet" type="text/css" href="static/style.css">
    </head>
    <body>

        <div id="page-background"><img src="static/che.gif" width="100%" height="100%" alt="Smile"></div>

        <div id="content">
        <p class ="fancy" style="color:blanchedalmond;">{{output}}</p>
        <p class="fancy" style="color:blanchedalmond;">{{output1}}</p>
        </div>

    </body>
</html>